@model EFDataApp.Models.Operation
@{
    ViewBag.Title = "Удаление пользователя";
}
<h2>Удаление строки вычислений из базы данных</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Выражение</dt>
        <dd>
            @Html.DisplayFor(model => model.Expression)
        </dd>

        <dt>Ответ</dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>

    <div>
        <span class="badge-danger">Вы уверены, что хотите безвозвратно удалить данную строку?</span>
        <form asp-controller="Login" asp-action="Delete" method="post">
            <div class="form-group">

                <input type="submit" class="alert-danger" value="Удалить" />
            </div>
        </form>
    </div>
</div>